<div class="col-sm-12">	
	<ul class="list-group" id="feed-list">
		<li ng-repeat="item in ctrl.feed" class="list-group-item" >
			{{ item.username }}  {{ item.message }}
		</li>
	</ul>
	<label>Send A Message</label>
    <textarea class="form-control" ng-model="ctrl.msg.message" id="msg" rows="3"></textarea>
    <button ng-click="ctrl.create()" class="btn btn-primary">Send</button>
</div>