<div class="col-sm-12">
	<h2>Define</h2>
	<label>Description</label>
	<textarea class="form-control" ng-model="ctrl.definition.desc" rows="3" ></textarea>
	<label for="def-logtype">Log work by</label>
	<select class="form-control"  ng-model="ctrl.definition.type">
	    <option>Time</option>
	    <option>Weight</option>
	    <option>Reps</option>
	</select>
	<button ng-click="ctrl.save()" class="btn btn-primary">Save</button>
</div>