<div class="col-sm-12">
    <h2>History</h2>
    <ul class="list-group">
    	<li ng-repeat="log in ctrl.history" class='list-group-item'>
    		{{ log.def }} - {{ log.result }}
    	</li>
    </ul>
</div>