<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-4">
      <h3>Sign Up</h3>
      <form id="new_user" ng-submit="ctrl.submit()">
        <p>
          <label for="username">Username</label><br>
          <input type="text" name="username" ng-model="ctrl.user.username" required>
        </p>
        <p>
          <label for="password">Password</label><br>
          <input type="password" name="password" ng-model="ctrl.user.password" required>
        </p>
        <input type="submit" name="commit" value="Sign Up" class="btn btn-default">
        <span class="login">
          Already have an account?
          <a ui-sref="signin">Log in.</a>
        </span>
      </form>
    </div>
  </div>
</div>
